@import "../../assets/variables.scss";

.drawing {
  &__container {
    width: 85%;
    padding: 20px;
    height: calc(100vh - 130px);
    margin-top: 90px;
    position: relative;
  }

  &__panel {
    width: 100%;
    height: 100%;
    border: 1px solid $boder_line;
    box-sizing: border-box;
  }
}
